@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');


.overallMentalHealthCardHeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1743125em;
    color: #000;
    font-family: Mukta;
    font-size: 1.1743125em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.028px;
}

.overallHealthCardBody {
    display: flex;
    margin-top: 1.2em;
    justify-content: center;
}

/* Card */
div.Health {
    width: 19.3125em;
    height: 10.4375em;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
  }
  

  
  /* HeaderText */
  h2.HeaderText {
    margin-top: 0.9em;
    margin-left: 1.2275em;
  }
  
  /* Difference */
  p.Difference {
    font-size: 1em;
    margin-top: 0.9em;
    margin-right: 3.67625em;
  }
  
  /* NumberText */
  p.NumberText {
    font-size: 2.1875em;
    margin: 0;
    font-weight: bold;
    text-align: center;
  }
  


