/* Card */
div.StartSession {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 85vh;
    border-radius: 10px;
    background-color: #5271FF;
    padding: 20px;
  }
  
  /* MoreDetailsButton */
  button.MoreDetailsButton {
    margin-top: 25em;
    margin-left: 4em;
    font-weight: bold;
    border: none;
    background: white;
    color: #5271FF;
    padding: 10px 40px;
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
  }
  
  @media (max-width: 600px) {
    button.MoreDetailsButton {
      margin-top: 25em;
      margin-left: 1%;
      padding: 10px 20px; /* Reduced padding for smaller screens */
    }
  }
  