
.container-support {
    text-align: center;
    align-items: center;
    background-color: #000; /* Adding black color background */
    color: #fff;
    height: auto;
    width: auto;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 15px;
    }

    @media (min-width: 800px) {
        .container-support {
            height: 80vh;
        }
      }
      @media (max-width: 600px) { 
        .container-support {
            height: 80vh;
          }
      }
      